<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.eofelx.eofel">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/security"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Eofel"
        tools:targetApi="n">
        <activity android:name=".views.home.pos.PerformActivity" />
        <activity android:name=".views.home.pos.StockActivity" />
        <activity android:name=".views.home.pos.ReportActivity" />
        <activity android:name=".views.home.pos.VoucherActivity" />
        <activity android:name=".views.home.pos.DiscountActivity" />
        <activity android:name=".views.home.pos.UserActivity" />
        <activity android:name=".views.home.pos.StoreFront" />
        <activity android:name=".views.home.PosActivity" />
        <activity android:name=".views.home.MakeAdActivity" />
        <activity
            android:name=".views.message.OpenMessage"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity android:name=".views.home.mart.MartEditContent" />
        <activity
            android:name=".activities.WelcomeActivity"
            android:windowSoftInputMode="stateVisible|adjustResize"/>
        <activity
            android:name=".activities.SignUpActivity"
            android:theme="@style/Theme.SignIn"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:windowSoftInputMode="stateAlwaysVisible|adjustResize"/>
        <activity android:name=".views.home.NotificationActivity" />
        <activity android:name=".views.home.MartActivity" /> <!-- <meta-data -->
        <!-- android:name="com.google.android.gms.ads.APPLICATION_ID" -->
        <!-- android:value="ca-app-pub-3940256099942544~3347511713"/> -->
        <activity android:name=".activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.RootActivity"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustPan|stateAlwaysVisible" />
        <activity android:name=".views.home.WalletActivity" />
        <activity android:name=".views.home.wallet.InsetActivity" />
        <activity android:name=".views.home.wallet.WithDrawActivity" />
    </application>

</manifest>